.category-heading{
    text-align: center;
    margin-top: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.container > button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    /* width: 100%; */
}

.container > form {
    display: inline;
    margin: auto;
}

/* Style for the input submit inside the form */
.container > form > input{
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: center; 
    margin-top: 40px;
}

a{
    text-decoration: none;
}

.product-card {
    flex: 1; 
    max-width: 240px; 
    border: 1px solid #e5e5e5;
    padding: 15px;
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.558);
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    border-radius: 20px;
}

.product-card img {
    width: 15rem;
    height: 20rem;
    object-fit:cover;
    margin-bottom: 10px; 
}
p strong{
    font-size: 20px;
    color: black;
}

.product-price {
    color: #b12704;
    text-decoration: line-through;
    font-size: 15px;
    margin-top: 10px;
}

.discount-percentage{
    font-size: 20px;
    margin-top: 10px;
    color: blue;
}
.discounted-price{
    color: green;
    font-size: 25px;
    margin-top: 10px;
}

.wishlist{
    position: absolute;
    top: 15px;
    right: 15px;
    height: 20px;
    width: 20px;
    background-color: #b12704;
}