body {
    font-family: 'Arial', sans-serif;
    /* background-image: linear-gradient(45deg, #fca311, #fca311); */
    background-color: #ffdfaa;
    margin: 0;
    height: 10vh;
}

#main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#container {
    width: 350px;
    padding: 40px;
    position: relative;
    background: #e5e5e5;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.225);
    border-radius: 8px;
}

h1 {
    margin: 0 0 32px;
    padding: 0;
}

.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 2px solid #e5e5e5;
    outline: none;
    color: #000000;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.2s;
}

.input:focus {
    border-color: #14213d;
}

#submit {
    width: 100%;
    padding: 10px;
    border: none;
    background: #14213d;
    font-size: 16px;
    color: #e5e5e5;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#submit:hover {
    background: #14213d;
}

#link {
    margin-top: 20px;
    display: block;
    font-size: 16px;
    color: #14213d;
    text-decoration: none;
    transition: color 0.2s;
}

#link:hover {
    color: #14213d;
}

p {
    margin-top: 10px;
    color: #d43f00;
}
